

 @model EduConnect.DTOs.BookingsResponseModel
<div>
    <<table class="table">
    <thead>
        <tr>
            <th>
                S/N
            </th>
            <th>
               Parent Name
            </th>
               <th>
               Student Name
            </th>
            
              <th>
               Booking Date
            </th>
             <th>
                Details 
            </th>
             <th>
                Approve 
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            var num = 1;
        }
        @foreach (var administrator in Model.Data)
        {
        <tr>
            <td>
                @num
            </td>
            <td>
                @administrator.ParentName
            </td>
               <td>
                @administrator.StudentName
            </td>
          
               <td>
                @administrator.BookingDate
            </td>

        
              <td>
                <a asp-action="Details" asp-route-id="@administrator.Id">Details</a>
             </td>

                <td>
                <a asp-action="Update" asp-route-id="@administrator.Id">Approve</a>
             </td>
        </tr>
               num++;
                
         }
    </tbody>
</table>
</div>
    <div class="btn btn-primary">
    <a asp-controller="User" asp-action="RedirectToDashBoard" style="color:white">Back to DashBoard</a>
     </div>
 
