@model EduConnect.DTOs.ParentResponseModel
 
<section id="main-content">
    <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i>Details</h3>
        <div style="font-size: 130%;">
            <dl class="row">
                <dt class="col-sm-2">
                    FirstName:
                </dt>
                <dd class="col-sm-10">
                    @Model.Data.FirstName
                </dd>
                <dt class="col-sm-2">
                    LastName:
                </dt>
                <dd class="col-sm-10">
                    @Model.Data.LastName
                </dd>
               @* <dt class="col-sm-2">
                    Address:
                </dt>
                <dd class="col-sm-10">
                   
                </dd>*@
                <dt class="col-sm-2">
                    Email:
                </dt>
                <dd class="col-sm-10">
                    @Model.Data.MailAddress
                </dd>
                <dt class="col-sm-2">
                    Address:
                </dt>
                <dd class="col-sm-10">
                    @Model.Data.Address.HouseNumber @Model.Data.Address.StreetName  @Model.Data.Address.LGAOfResidence  @Model.Data.Address.State
                </dd>
               @* <dt class="col-sm-2">
                    AdminPhoto:
                </dt>
               <dd class="col-sm-10">
                    <img class="card-img" style="height:200px; width:200px" src="~/adminPhotos/@Model.AdminPhoto" />     
                    <a href="~/adminPhotos/@Model.AdminPhoto" download="@Model.AdminPhoto"><input class="btn btn-outline-primary" type="button" value="DownLoad" /></a>      
                </dd>*@
            </dl>
        </div>
           <div class="btn btn-primary">
    <a asp-controller="User" asp-action="RedirectToDashBoard" style="color:white">Back to DashBoard</a>
     </div>
       <div class="btn btn-primary">
                <a style="color:white;" asp-controller="Parent" asp-action="Index">Back to list</a>
            </div>
        @*<button style="background-color:aqua;"><a asp-controller="Administrator" asp-action="Index">Back to List</a></button>*@
    </section>
</section>

